<app-header [settingHeader]="settingHeader" [customActionCompleted]="actionCompleted.bind(this)"></app-header>
<ion-content>
  <div class="container">
    <div class="search-section">
      <ion-searchbar
        mode="md"
        placeholder="Buscar pedido"
        animated="true"
        show-clear-button="focus">
      </ion-searchbar>
    </div>

    @if (orders.length === 0){
      <app-no-orders-banner></app-no-orders-banner>
    } @else {
      <app-order-list
        [orders]="orders">
      </app-order-list>
    }

  </div>
</ion-content>