<ion-content class="ion-padding">
    <div class="onboarding-wrapper">
        <div class="onboarding-container">
            <h2>¡Estás listo para comenzar!</h2>

            <div class="onboarding-image">
                <img ngSrc="./assets/icon/onboarding.svg" alt="onboarding" height="180" width="180" />
            </div>

            <div class="onboarding-text">
                <p>
                    Tu cuenta está lista. Puedes comenzar a configurar Zinnia ahora o hacerlo más tarde desde.
                </p>
                <p>
                    Configura tu tienda en unos pocos pasos: crea categorías, productos, clientes, proveedores y más.
                </p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-button expand="block" fill="solid">
        Comenzar
    </ion-button>
</ion-footer>
