<ion-content class="container">

  <div class="header">
    <img class="image" [src]="loginImages.zinniaLogo" alt="Zinnia Logo">
  </div>

  <div class="texts">
    <h1 class="title bold">Inicia sesión en Zinnia</h1>
    <ion-label class="subtitle ion-text-wrap">
      Bienvenido de nuevo. Ingresa tus credenciales para continuar gestionando tu negocio con facilidad.
    </ion-label>
  </div>

  <form class="form" [formGroup]="loginForm" *ngIf="loginForm">
    <div class="row">
      <div class="group">
        <label for="username">Correo electronico</label>
        <ion-input
        placeholder="Correo"
        type="email"
        appIconInput
        iconName="mail-outline"
        fill="outline" 
        mode="md" 
        formControlName="username"></ion-input>
      </div>
      <div class="group">
        <label for="password">Contraseña</label>
        <ion-input type="text" fill="outline" mode="md" formControlName="password"></ion-input>
      </div>
    </div>

    <div class="remember-forgot">
      <ion-checkbox mode="md"></ion-checkbox>
      <ion-label class="text">Recuérdame</ion-label>
    </div>

    <ion-button expand="block" fill="solid" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </ion-button>

    <div class="signup-prompt">
      <span>¿Aun no eres parte de Zinnia?</span>
      <a href="#">Comenzar ahora</a>
    </div>

  </form>
</ion-content>