<ion-content>
  <div class="content">
    <div class="content__modal">
      <div class="content__modal__form">
        <div class="content__modal__form__img">
          <img src="" alt="">
        </div>
        <div class="content__modal__form__title">
         <h2>
          Iniciar Sesion
         </h2> 
        </div>
        <ion-item>
          <ion-label color="light" position="stacked">
            Usuario
          </ion-label>
          <ion-input [(ngModel)]="usuario.user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="light" position="stacked">
            Contraseña
          </ion-label>
          <ion-input [(ngModel)]="usuario.pass" type="password" ></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label color="light" position="stacked">
            {{translationService.translate('_CODE')}}
          </ion-label>
          <ion-input [(ngModel)]="usuario.codigo" type="text" ></ion-input>
        </ion-item>  -->       
      </div>
    </div>
    <div class="content__btn" (click)="login()">
      Iniciar Sesion
    </div>
    
  </div>
  
  </ion-content>