<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Zinnia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Aplicacion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="[ '/users' ]">Usuarios</a>
          <a class="dropdown-item" [routerLink]="[ '/profiles' ]">Perfiles</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ventas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Nueva Venta</a>
          <a class="dropdown-item">Resumen de Venta</a>
          <a class="dropdown-item">Clientes</a>
          <a class="dropdown-item">Reservas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Caja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Abrir Caja</a>
          <a class="dropdown-item">Cerra Caja</a>
          <a class="dropdown-item">Salidas</a>
          <a class="dropdown-item">Cuentas por pagar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Categorias</a>
          <a class="dropdown-item">Stock de productos</a>
          <a class="dropdown-item">Movimientos</a>
          <a class="dropdown-item">Recibir Producto</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parametros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Mi Empresa</a>
          <a class="dropdown-item">Productos</a>
          <a class="dropdown-item">Menus</a>
          <a class="dropdown-item">Resoluciones de Facturacion</a>
          <a class="dropdown-item">Proveedores</a>
          <a class="dropdown-item">impuestos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Reporte Diario</a>
          <a class="dropdown-item">Productos</a>
          <a class="dropdown-item">Existencias</a>
          <a class="dropdown-item">Stock minimo</a>
          <a class="dropdown-item">Clientes</a>
          <a class="dropdown-item">Proveedores</a>
          <a class="dropdown-item">Cuentas por pagar</a>
          <a class="dropdown-item">Cuentas por cobrar</a>
          <a class="dropdown-item">Informe Mensual</a>
          <a class="dropdown-item">Reporte de ventas</a>
          <a class="dropdown-item">Top de ventas</a>
          
        </div>
      </li>
    </ul>
    <span class="navbar-text">
       Salir <i class="fa fa-sign-out" aria-hidden="true"></i>
    </span>
  </div>
</nav>