.container {
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    height: 100%;
    margin-top: 8px;
    background-color: var(--ion-color-primary-contrast);

    .form {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .bordered-item {
        .control-input {
           .control-btn {
                width: 32px;
                height: 32px;
                --color: #131218;
                --background: #F1F1F1; 
                --border-width: none;
                --border-radius: 6px;
                --padding-top: 8px;
                --padding-bottom: 8px;
            } 
        }
    }
}