<div class="card">
  <div class="card-body">
    <h5 class="card-title">Usuarios</h5>
    <div class="col-sm-12 text-center" *ngIf="!users">
      <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
    </div>
      
    
    <app-data-table *ngIf="users" [columns]="columns" [data]="users" [options]="true" 
        (editEvent)="editarUsuario($event);showModal()" (deleteEvent)="null">
    </app-data-table>      
  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-primary" (click)="nuevoUsuario()"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Usuario</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-user [user]="user" (saveUser)="hideModal();"></app-user>  
        </div>
        
      </div>
    </div>
  </div>

