<ion-content>
  <div class="content">
    <div class="content__modal">
      <div class="content__modal__form">
        <div class="content__modal__form__img">
          <img src="./../../assets/images/Zinnia_Bg_Black.png" alt="">
        </div>
        <div class="content__modal__form__title">
         <h2>
          {{translationService.translate('_LOGIN_ACCOUNT')}}
         </h2> 
        </div>
        <ion-item>
          <ion-label color="light" position="stacked">
            {{translationService.translate('_USER')}}
          </ion-label>
          <ion-input [(ngModel)]="usuario.user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="light" position="stacked">
            {{translationService.translate('_PASSWORD')}}
          </ion-label>
          <ion-input [(ngModel)]="usuario.pass" type="password" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="light" position="stacked">
            {{translationService.translate('_CODE')}}
          </ion-label>
          <ion-input [(ngModel)]="usuario.codigo" type="text" ></ion-input>
        </ion-item>        
      </div>
    </div>
    <div class="content__btn" (click)="login()">
      {{translationService.translate('_LOGIN')}}
    </div>
    
  </div>
  
  </ion-content>