<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="custom-back-button" (click)="goBack()">
                <ion-icon name="arrow-back-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding content-row-layout">
    <div class="form-wrapper-container">
        <div class="info-container">
            <h2>¡Casi terminamos!</h2>
            <p>Solo falta un último paso. Hemos enviado un código de 4 dígitos a {{email || '( email no disponible )' }}</p>
            <p>Ingresa ese código para verificar tu cuenta y comenzar a usar Zinnia.</p>
        </div>
        <div class="form-wrapper">
            <div class="code-container">
                <div class="code-box" *ngFor="let digit of [0,1,2,3]; let i = index">
                    <div class="dot" *ngIf="code[i]"></div>
                </div>
            </div>
            <h4 class="resend-code">
                <p class="message" (click)="resendActivationCode()">
                    {{ feedback }}
                    <ion-text *ngIf="timerIntervalId && timer > 0" color="primary">{{ timer + ' segundos' }}</ion-text>
                </p>
            </h4>
            <ng-container>
                <app-numpad
                    (digitClicked)="onDigitReceived($event)"
                    (onRemove)="onDigitRemoved()"
                ></app-numpad>
            </ng-container>
            <ion-button expand="block" (click)="goToOnboarding()">
                Verificar
            </ion-button>
        </div>
    </div>
</ion-content>
