/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    height: 100%;
    background: #383f48;
    color: white;
}

.container {
    padding-top: 10px;
}

.card {
    color: #383f48;
}

.modal {
    color: #383f48;
}

h1,h2,h3,h4,h5{
    font-family: 'Kaushan Script', cursive;
}

