<ng-container>
    <div class="information">
        <h3>Ahora, necesitamos tus datos</h3>
        <p>
            Ingresa tu información personal para poder gestionar tu cuenta y acceder a todas las funcionalidades de Zinnia.
        </p>
    </div>
    <form class="custom-form" *ngIf="userAccountForm" [formGroup]="userAccountForm">
        <ion-input
            mode="md"
            fill="outline"
            [clearInput]="true"
            placeholder="Nombre completo"
            formControlName="fullname">
        </ion-input>
        <ion-input
            mode="md"
            fill="outline"
            [clearInput]="true"
            placeholder="Correo electrónico"
            formControlName="email">
        </ion-input>
        <div class="error-message" *ngIf="userAccountForm.get('email')?.hasError('emailTaken') && userAccountForm.get('email')?.touched">
          Este usuario no está disponible
        </div>
        <ion-input
            mode="md"
            fill="outline"
            type="password"
            placeholder="Contraseña"
            formControlName="password">
        </ion-input>
        <ion-input
            mode="md"
            fill="outline"
            type="password"
            placeholder="Confirmar contraseña"
            formControlName="confirmPassword">
        </ion-input>
    </form>
</ng-container>

