<ng-container>
    <div class="information">
        <h3>Ahora, necesitamos tus datos</h3>
        <p>
            Ingresa tu información personal para poder gestionar tu cuenta y acceder a todas las funcionalidades de Zinnia.
        </p>
    </div>
    <form class="custom-form">
        <ion-input placeholder="Nombre completo" fill="outline" [clearInput]="true" mode="md"></ion-input>
        <ion-input placeholder="Correo electrónico" fill="outline" [clearInput]="true" mode="md"></ion-input>
        <ion-input placeholder="Contraseña" type="password" fill="outline"  mode="md">
        </ion-input>
        <ion-input placeholder="Confrimar contraseña" type="password" fill="outline" mode="md"></ion-input>
    </form>
</ng-container>

