<ion-content fullscreen="true">
  <!-- Título -->
  <div class="container">
    <ion-label class="title bold">Información de cliente</ion-label>
  </div>

  <!-- Formulario -->
  <div class="container">
    <form class="form" [formGroup]="form">
      <!-- Nombre -->
      <ng-container *ngIf="!loading; else skField">
        <ion-item lines="none" class="bordered-item">
          <ion-input
            mode="md"
            label="Nombre"
            labelPlacement="stacked"
            placeholder="Nombre"
            formControlName="nombre">
          </ion-input>
        </ion-item>
      </ng-container>

      <!-- Correo -->
      <ng-container *ngIf="!loading; else skField">
        <ion-item lines="none" class="bordered-item">
          <ion-input
            mode="md"
            type="email"
            autocapitalize="off"
            label="Correo electrónico"
            labelPlacement="stacked"
            placeholder="Correo electrónico"
            formControlName="correo">
          </ion-input>
        </ion-item>
      </ng-container>

      <!-- Teléfono -->
      <ng-container *ngIf="!loading; else skField">
        <ion-item lines="none" class="bordered-item">
          <ion-input
            mode="md"
            inputmode="tel"
            label="Teléfono / Celular"
            labelPlacement="stacked"
            placeholder="Teléfono / Celular"
            formControlName="telefono">
          </ion-input>
        </ion-item>
      </ng-container>

      <!-- Dirección -->
      <ng-container *ngIf="!loading; else skField">
        <ion-item lines="none" class="bordered-item">
          <ion-textarea
            mode="md"
            [autoGrow]="true"
            rows="3"
            label="Dirección"
            labelPlacement="stacked"
            placeholder="Dirección"
            formControlName="direccion">
          </ion-textarea>
        </ion-item>
      </ng-container>

      <!-- Skeleton reutilizable -->
      <ng-template #skField>
        <ion-item lines="none" class="bordered-item skeleton">
          <ion-label>
            <ion-skeleton-text style="width: 120px;" [animated]="true"></ion-skeleton-text>
            <ion-skeleton-text style="width: 220px; height: 18px;" [animated]="true"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ng-template>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border footer">
  <ion-button
    mode="md"
    expand="block"
    fill="solid"
    [disabled]="form.invalid || loading"
    (click)="save()">
    Guardar
  </ion-button>
</ion-footer>
