<ng-container>
    <div class="information">
        <h3>Cuéntanos más sobre tu empresa</h3>
        <p>
            Completa la información de tu empresa para que podamos configurar tu cuenta de manera personalizada.
        </p>
    </div>
    <form class="custom-form">
        <ion-input placeholder="Nombre de la empresa" fill="outline" mode="md"></ion-input>
        <ion-input placeholder="Dirección" fill="outline" mode="md"></ion-input>
        <ion-input placeholder="Teléfono" fill="outline" mode="md"></ion-input>
        <ion-input placeholder="Correo electrónico" fill="outline" mode="md"></ion-input>
        <ion-input placeholder="RUC" fill="outline" mode="md"></ion-input>
    </form>
</ng-container>
