ion-searchbar {
  --background: #fff;
  --color: #69686D;
  --placeholder-color: #69686D;
  --icon-color: #131218;
  --clear-button-color: #131218;
  --border-radius: 8px;
  --box-shadow: 0px;
  border: 1px solid #9E9E9E;
}
