// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1fb5ac;
	--ion-color-primary-rgb: 31,181,172;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #1b9f97;
	--ion-color-primary-tint: #35bcb4;

	--ion-color-secondary: #aec785;
	--ion-color-secondary-rgb: 174,199,133;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #99af75;
	--ion-color-secondary-tint: #b6cd91;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #ffffff;;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}




ion-content{
  --ion-background-color:#131217;
  font-family: 'Montserrat', sans-serif;
}

ion-label{
  --ion-background-color:#131217;
}

ion-input {
	--placeholder-color: var(--ion-color-light) !important;
	color: var(--ion-color-light) !important; 
	width: 100%;
	text-transform: uppercase;  /* Transforma el texto ingresado a mayúsculas */
  }

ion-textarea {
	text-transform: uppercase;  /* Transforma el texto ingresado a mayúsculas */
  }
  

ion-item{
  //--ion-background-color:white;
  color: var(--ion-color-light);
  --border-color: white;
}

ion-menu{
  --width: 234px !important;
}

ion-grid{
  width: 100%;
  padding: 0px !important;
}

ion-col{
	padding: 0px !important;
}

ion-toolbar {
    --color: #ffffff;
    --background: #26272c;
}

.contentPage{
  padding: 15px;
  width: 100%;
  height: 100%;
  &__title{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    &__back{
      display: flex;
      align-items: center;
      &__text{
        font-size:12px
      }      
    }
  }
}


.leaflet-popup-close-button {
  display: none; 
}

select{
  border: 0px;
}

.sc-ion-select-popover-md  {	
	color: var(--ion-color-light-contrast)!important;	
  }

input{
	text-transform: uppercase;
}