<div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" required
                [(ngModel)]="user.nombre"  placeholder="Ingrese el nombre de usuario">
        </div>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input type="text" class="form-control" name="usuario" id="usuario" required
                [(ngModel)]="user.usuario" placeholder="Ingrese el usuario">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" required
                [(ngModel)]="user.password" placeholder="Ingrese el password">
        </div>
        <div class="form-group">
          <label for="password">Perfil</label>
          <select name="perfil" id="perfil" class="form-control" [(ngModel)]="perfilSel" (change)="seleccionarPerfil()">
            <option>Seleccione un perfil</option>
            <option [value]="perfil.nombre" *ngFor="let perfil of perfiles">{{perfil.nombre}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="card-footer text-right">
      <button type="button" class="btn btn-primary" (click)="guardarUsuario()">
        <i class="fa fa-save" aria-hidden="true"></i> Guardar
      </button>
    </div>
  </div>
