<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img style="height:25px; margin-left: 15px;" src="../../assets/images/Zinnia_Bg_Black.png" alt="">  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pos">
    <ion-grid>
      <ion-row>        
        <ion-col size="12" size-xs="12" size-sm="12"  size-md="12" size-lg="8">
          <div class="pos__container">
            <div class="pos__container__categories">
              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

              <div class="pos__container__categories__category">
                <div class="pos__container__categories__category__img">
                  <img src="../../../../assets/images/ic_fastfood.png" alt="">
                </div>
                <div class="pos__container__categories__category__text">FastFood</div>
              </div>

            </div>
            <div class="pos__container__search">
              <div class="pos__container__search__container">
                <div class="pos__container__search__container__ico"><ion-icon name="search-outline"></ion-icon></div>
                <div class="pos__container__search__container__input"><input type="text" placeholder="{{translationService.translate('_SEARCH')}} {{translationService.translate('_ITEMS')}}"></div>
                <div class="pos__container__search__container__btn">
                  {{translationService.translate('_SEARCH')}}
                </div>
              </div>
            </div>
            <div class="pos__container__products">
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="pos__container__products__item">
                <div class="pos__container__products__item__img">
                  <img src="../../../../assets/images/7.png" alt="">
                  <div class="pos__container__products__item__img__gradient">
                    </div>
                  <div class="pos__container__products__item__img__text">
                    Veg Cheese Burger
                  </div>
                  <div class="pos__container__products__item__img__value">
                    $120,000
                  </div>
                  <div class="pos__container__products__item__img__additions">
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="remove-outline"></ion-icon>
                    </div>
                    <div class="pos__container__products__item__img__additions__num">1</div>
                    <div class="pos__container__products__item__img__additions__btn">
                      <ion-icon name="add-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>


              
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-xs="12" size-sm="12"  size-md="12" size-lg="4">
          <div class="pos__list">
            <div class="pos__list__tables">
              <div class="pos__list__tables__plus">
                <ion-icon name="add-outline"></ion-icon>
              </div>
              <div class="pos__list__tables__table selected">
                <div class="pos__list__tables__table__num">1</div>
                <div class="pos__list__tables__table__time">2:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">2</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">3</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">3</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">3</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">3</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              <div class="pos__list__tables__table">
                <div class="pos__list__tables__table__num">3</div>
                <div class="pos__list__tables__table__time">1:30</div>
              </div>
              
            </div>
            <div class="pos__list__titles">
              <div class="pos__list__titles__item itemtitle">
                {{translationService.translate('_ITEMS')}}
              </div>
              <div class="pos__list__titles__item">
                {{translationService.translate('_PRICE')}}
              </div>
              <div class="pos__list__titles__item">
                {{translationService.translate('_QTY')}}
              </div>
              <div class="pos__list__titles__item">
                {{translationService.translate('_TOTAL')}}($)
              </div>
            </div>
            <div class="pos__list__products">
              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Farm Vile Pizza</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>

              <div class="pos__list__products__item">
                <div class="pos__list__products__item__name itemtitle">Cheese Burst Sandwich</div>
                <div class="pos__list__products__item__price">12.000</div>
                <div class="pos__list__products__item__qty">
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="remove-outline"></ion-icon>                    
                  </div>
                  <div class="pos__list__products__item__qty__num">1</div>
                  <div class="pos__list__products__item__qty__btn">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                </div>
                <div class="pos__list__products__item__total">12,000</div>
              </div>
            </div>
            <div class="pos__list__money">
              <div class="pos__list__money__item">
                <div class="pos__list__money__item__text">Sub Total</div>
                <div class="pos__list__money__item__number"> 12,000</div>
              </div>
              <div class="pos__list__money__item">
                <div class="pos__list__money__item__text">Tax</div>
                <div class="pos__list__money__item__number"> 300</div>
              </div>
              <div class="pos__list__money__item">
                <div class="pos__list__money__item__text">Other Charge</div>
                <div class="pos__list__money__item__number"> 0</div>
              </div>
              <div class="pos__list__money__item amountpay">
                <div class="pos__list__money__item__text">Amount to Pay</div>
                <div class="pos__list__money__item__number"> 12,300</div>
              </div>
              
            </div>
            <div class="pos__list__btns">
              <div class="pos__list__btns__cancel">{{translationService.translate('_CANCEL')}}</div>
              <div class="pos__list__btns__save">{{translationService.translate('_SAVE')}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
