ion-menu ion-content {
    --ion-background-color: #26272C !important;
    cursor: pointer;
  }
  
  .split-pane-visible > .split-pane-side {
    min-width: 200px !important;
    max-width: 200px !important;
    
  }

  
  
  .icon-user{
    padding-right: 15px;
  }
  
  .icon-size{
    font-size: 1.9rem;
    padding-right: 9px;
  }