<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                  <label (click)="onSort(column.name)">{{column.title}}</label>
                  <i *ngIf="column.name === nameSelected && this.orderOrientation === true" class="fa fa-angle-down"></i>
                  <i *ngIf="column.name === nameSelected && this.orderOrientation === false" class="fa fa-angle-up"></i>
                </th>
                <th *ngIf="options" class="text-nowrap">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of dataGrid">
                <td *ngFor="let col of columns ">{{row[col.name]}}</td>
                <td class="text-nowrap" *ngIf="options">
                    <a *ngIf="optionsEdit" data-toggle="tooltip" class="optionsGrid" (click)="onEditData(row)" data-original-title="Editar"> <i style="cursor: pointer;" class="fa fa-pencil text-inverse m-r-10"></i> </a>  
                    <a *ngIf="optionsDelete" data-toggle="tooltip" class="optionsGrid" (click)="onDeleteData(row)" data-original-title="Eliminar"> <i style="cursor: pointer;" class="fa fa-trash text-danger"></i> </a>
                </td>
            </tr>
        </tbody>
      </table>
      
        <div class="paginatorContainer">
            <i style="font-size: 20px; cursor: pointer;" class="fa fa-angle-left pageLeft" (click)="onPreviusPage()"></i>
            {{actualPage}} / {{pagesNumber}}
            <i style="font-size: 20px; cursor: pointer;" class="fa fa-angle-right pageRight" (click)="onNextPage()"></i>
        </div>
      
</div>