<div class="initial-banner">
  <div class="illustration-container ion-text-center">
    <img src="assets/images/orders.svg" alt="Gestión de Pedidos" style="max-width: 70%; height: auto;">
  </div>

  <div class="ion-text-center">
    <h3>Gestión de Pedidos</h3>
    <p>
      Revisa y gestiona los pedidos creados desde la app y los recibidos a través de WhatsApp
    </p>
  </div>

  <div class="ion-text-center ion-padding">
    <ion-button
      expand="block"
      color="dark"
      (click)="goToCreateOrder()">
      Crear pedido
    </ion-button>
  </div>
</div>